<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">
  <title>聊天演示|vue+socketio+flask</title>
</head>

<body>
  <div class="section">
    <div class="container">
      <ul>
        <li>
          <a href="/vue/">vue示例</a>
        </li>
        <li>
          <a href="/socketio_sample/">socketio_sample</a>
        </li>
        <li>
          <a href="/chat/">聊天</a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
