<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <title>Document</title>
  <script>
    const socket = io('http://localhost:5000/');

    socket.on('connect', function () {
      console.log('connected')
    })
    socket.on('message', function (content) {
      console.log('recv message', content)
    })

  </script>
</head>

<body>

</body>

</html>
